.alert.top{
    border-bottom-color: #E0E0E0 !important;
}

.alert.bottom{
    border-top-color: #E0E0E0 !important;
}
#history{
    background:  white !important;
 }

#history a{
  color: black !important;
}
#history li{
    border-color: #efefef !important;
}

#history .time{
    color: #757575 !important;
}
#history a{
    color: black !important;
}

#history-overlay{
    background: white !important;
    color: black !important;
}

#menu li a{
    color: black !important;
}

#onboarding{
    background: white !important;
}


#tabs{
    background: white !important;
    border-bottom-color: #E0E0E0 !important;
}
#tabs li{
    background: white !important;
    border-right-color: #E0E0E0 !important;
}
#tabs li a{
    color: black !important;
  }

#tabs li:hover{
    background: #f5f5f5 !important;
}
#tabs li.active{
    border-bottom-color: black !important;
}

#titlebar .bar{
  border-bottom-color:  #BDBDBD !important;
  background: white !important;
}

#titlebar .bg{
    color: #616161 !important;
}

#titlebar .input{

    background: white !important;
    color: #616161 !important;
}


#titlebar:hover, #titlebar:focus{
    border-color: #BDBDBD  !important;
    background: #FAFAFA !important;
}

#titlebar::-moz-selection { background: yellow; }
#titlebar::selection { background: yellow; }